<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>Filter.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <servlet-name>CheckBox</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Hello_World</servlet-name>
        <servlet-class>Hello_World.Hello_World</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empty_Servlet</servlet-name>
        <servlet-class>TEMPLETES.Empty_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMethod</servlet-name>
        <servlet-class>servlets_form_data.Get_method</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBox</servlet-name>
        <servlet-class>servlets_form_data.CheckBox_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowError</servlet-name>
        <servlet-class>HttpStateCode.ShowError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Creating_Cookies</servlet-name>
        <servlet-class>CookiesHandling.Creating_Cookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>CookiesHandling.ReadCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>CookiesHandling.DeleteCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTracker</servlet-name>
        <servlet-class>Sessions.SessionTracker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>FileUploading.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Servlet</servlet-name>
        <servlet-class>DB_Connection.DB_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello_World</servlet-name>
        <url-pattern>/Hello_World</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empty_Servlet</servlet-name>
        <url-pattern>/Empty_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMethod</servlet-name>
        <url-pattern>/GetMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBox</servlet-name>
        <url-pattern>/CheckBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowError</servlet-name>
        <url-pattern>/ShowError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Creating_Cookies</servlet-name>
        <url-pattern>/Creating_Cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/ReadCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/DeleteCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTracker</servlet-name>
        <url-pattern>/SessionTracker</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            E:\
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Servlet</servlet-name>
        <url-pattern>/DB_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>
